__pycache__/
.ipynb_checkpoints/
myenv/
runs/
models/
Hyperspectral oil spill detection datasets/
Hyperspectral oil spill detection datasets.rar
simsiam/simsiam/__pycache__/
simsiam/simsiam/simsiam/__pycache__/
simsiam/simsiam/models/
simsiam/simsiam/hasil_prediksi_matiks/
simsiam/simsiam/model_best.pth.tar
simsiam/simsiam/predictions/
simsiam/simsiam/linux/predictions
simsiam/simsiam/windows/predictions
jupyterlab.log
